.section__stories {
  display: flex;
  margin: 32px 0px 24px 0px;
  gap: 12px;
  overflow-x: auto;
}

.section__stories--story {
  background: url(../images/stories/woods.jpeg) 50% 50% no-repeat;
  background-size: contain;
  width: 100px;
  height: 140px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.section__story--gradient {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1;
  border-radius: 50%;
  background: linear-gradient(90deg, #f72e8e 0%, #ac1af0 102.84%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.section__stories-profile-image {
  width: 36px;
  height: 36px;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  border: 2px solid var(--color-prim-dark-black);
}
